<ion-header>
  <ion-toolbar color="leaf">
    <div class="header-title">
      <h1>Smartbin Finder</h1>
      <p>Find Smartbins near you,</p>
    </div>
  </ion-toolbar>
  <ion-toolbar color="leaf">
    <ion-searchbar> </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-buttons>
      <ion-fab-button color="leaf" (click)="nearMe()">
        <ion-icon name="location-outline"></ion-icon>
      </ion-fab-button>
    </ion-buttons>
  </ion-fab>

  <div class="content-container">
    <ion-card (click)="openLocationModal(item)" class="preview-card" *ngFor="let item of items">
    <ion-card-content>
        <div class="preview-container">
            <img class="preview-image" width="120"  src="assets/img/ezwc_banner.png" alt="">
            <div class="preview-info">
                <h1>Smartbin Title Very Very Long Text example so Lorem ipsum dolor sit amet. </h1>
                <p>smartbin</p>
            </div>
        </div>
    </ion-card-content>
  </ion-card>
  </div>
</ion-content>
