.header-title{
    padding-top: 2em;
    padding-left: 2em;
    h1{
        font-weight: bolder;
        margin-bottom: 0;
    }
    p{
        font-weight: lighter;
        margin-top: 1ch;
    }
}

.content-container{
    padding: 5px 0;
    background-color: lightgray;
}


.preview-card{
    
}

.preview-container{
    display: flex;
    gap: 20px;

    .preview-image{
        border-radius: 10px;
        object-fit:cover;
    }

    .preview-info{
        width: 100%;
        height: 120px;
        h1 {
            line-height: 1em;
            max-height: 90px;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: large;
            font-weight: bolder;
            margin-bottom: 10px;
        }
        
    }
}