<ion-header class="ion-no-border" [translucent]="true" collapse="fade">
  <ion-toolbar color="success">
    <div class="header-text">
      <h1 class="">Educational Module</h1>
      <p class="module-description">
        Discover what it takes and what we can do to help build a Zero Waste
        Campus by diving into the information and experiencing the learning!
      </p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- header for IOS version -->
  <ion-header collapse="condense">
    <ion-toolbar color="success">
      <div class="header-text">
        <h1 class="">Educational Module</h1>
        <p class="module-description">
          Discover what it takes and what we can do to help build a Zero Waste
          Campus by diving into the information and experiencing the learning!
        </p>
      </div>
    </ion-toolbar>
    </ion-header>

  <div class="banner-image">
    <img src="/assets/img/ezwc_banner.png" />
  </div>

  <div style="margin-top: 1em">
    <ion-card>
      <ion-card-header class="ion-text-center">
        <ion-card-title>Objective</ion-card-title>
        <ion-card-subtitle class="subtitle-text">
          To enhance University campus community participation in sustainable
          waste management towards Zero Waste Campus.
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="ion-text-center">
        <ion-button
          routerLink="lists"
          color="success"
          expand="block"
          class="enter-button"
        >
          <ion-text color="light">
            <span>Enter</span>
          </ion-text>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
