.header-text{
    padding: 0 2em;
    
    h1{
        font-weight: bolder;
        margin-bottom: 0;
    }

    p{
        margin-top: 10px;
        padding: 0 20px 5px 5px;
        font-weight: lighter;
        font-size: smaller;
        line-height: 1.5em;
        max-width: 40ch;
    }
}

.subtitle-text{
    line-height: 1.5em;
    padding-left: 10px;
    padding-right: 10px;
}

.banner-image{
    text-align: center;
    img{
        object-fit: cover;
    }
}