<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="modalCtrl.dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="form-container ion-padding">
    <form
      class="ion-padding"
      [formGroup]="updateform"
      (ngSubmit)="onUpdatePassword()"
    >
      <ion-item-group>
        <p>
          Keep your account safe, please use unique password that are not being
          used on other platform.
        </p>
        <ion-item>
          <ion-input
            formControlName="oldPassword"
            type="password"
            placeholder="current password"
          >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            formControlName="newPassword"
            type="password"
            placeholder="new password"
          >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            formControlName="confirmPassword"
            type="password"
            placeholder="confirm password"
          >
          </ion-input>
        </ion-item>
      </ion-item-group>
      <ion-button
        [disabled]="!updateform.valid"
        type="submit"
        expanded="block"
        color="danger"
        >change</ion-button
      >
    </form>
  </div>
</ion-content>
