<ion-header [translucent]="true" collapse="fade">
    <ion-toolbar color="leaf">
        <ion-title color="light" class="ion-text-center">E-ZWC</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content 
  [fullscreen]="true" 
  [fullscreen]="true"
  [scrollEvents]="true">
  
    <ion-header  collapse="condense">
      <ion-toolbar >
          <ion-title class="ion-text-left">E-ZWC</ion-title>
      </ion-toolbar>
    </ion-header>
    <app-content-list 
      (onRefreshList)="onRefreshList()"
      (onLoadMoreList)="fetchNext($event)"
      *ngIf="paginationResponse"
      [items]="paginationResponse.results"
    >
    </app-content-list>
  </ion-content>