.list-container{
    background-color: #407056;
    padding: 10px 0;
}

.feed{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;

    .actions-btn{
        justify-self: end;
    }

    .timestamp{
        font-size: small;
        color: darkgray;
        margin-top: 1.2rem;
    }
}

.user-badge{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 1rem;

    .name-tag{
        h3{
            font-size: larger;
        }
        span {
            color: var(--ion-color-primary);
            font-size: small;
        }
    }
}