<ion-header [translucent]="true" collapse="fade">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button>
        <app-avatar *ngIf="user" [image]="user.profile.avatar"></app-avatar>
      </ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Feeds</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="analytics-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">{{ title }}</ion-title>
      </ion-toolbar>
    </ion-header> -->
  <app-content-list [items]="items"></app-content-list>
</ion-content>
