.feed{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;

    .actions-btn{
        justify-self: end;
    }

    .timestamp{
        font-size: small;
        color: darkgray;
        margin-top: 1.2rem;
    }
}

.feeds-list-container{
    background-color: var(--ion-color-lightgray);
    padding: 10px 0;
}

.event-heading{
    padding: 1em;
    border: 1px dashed var(--ion-color-lightgray);
    border-radius: 10px;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    .event-title{
        color: var(--ion-color-primary);
    }
    .event-time {
        font-weight: bold;
    }
}

.w-full {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000;
}