<ion-card *ngIf="item">
  <ion-card-content>
    <ion-row>
      <ion-col class="feed">
        <app-owner-badge [userProfile]="item.author"></app-owner-badge>
        <span class="timestamp">{{ item.createdAt | date: 'mediumDate' ?? 'recently'}}</span>
        <ion-buttons (click)="openContentActions()" class="actions-btn">
          <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </ion-buttons>
      </ion-col>
      <ion-col size="12">
        <div  class="feed-content">
          <app-text-content [textContent]="item.textContent" (click)="openDetailPage()"></app-text-content>
          <div *ngIf="item?.title" class="event-heading">
            <h4 class="event-title">{{item.title}}</h4>
            <p class="event-time" *ngIf="item.startTime"> start: {{item.startTime | date:'mediumDate' || 'none'}}</p>
            <p class="event-time" *ngIf="item.endTime"> end: {{item.endTime | date:'mediumDate'}}</p>
          </div>

          <youtube-player class="w-full" *ngIf="videoContent?.videoId"
            #YTPlayer
            [height]="240"
            [width]="320"
            [videoId]="videoContent.videoId"
            (stateChange)="onVideoStateChange($event)"
            >
              
          </youtube-player>
          
          <app-image-slider *ngIf="item.resources" [images]="item.resources"></app-image-slider>
        </div>
      </ion-col>
      <ion-col size="12">
        <app-engagement-buttons [commentsCount]="item.commentsCount" 
          [likesCount]="item.likesCount"
          (commentClickHandler)="openDetailPage(item)"
        ></app-engagement-buttons>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>


